<div class="main-container row">
  <div class="col-md-4 chat-window">
    <app-chat-window [chats]="allChats" [windowHeader]="'Chats'"></app-chat-window>
  </div>
  <div class="col-md-4 chat-window">
    <app-chat-window [chats]="likedChats" [windowHeader]="'Liked'" [hideSendChat]="true"></app-chat-window>
  </div>
  <div class="col-md-4 chat-window">
    <app-chat-window [chats]="mostLikedChats" [windowHeader]="'Most Liked - Needs Attention'" [hideSendChat]="true" [isMostLikedWindow]="true"></app-chat-window>
  </div>
</div>

<div *ngIf="showPopup" class="join-popup-modal">
  <div class="popup-body">
    <h2>Hi</h2>
    <input type="text" placeholder="Enter username" [(ngModel)]="userName" />
    <button class="btn btn-primary" (click)="join()">Join</button>
  </div>
</div>
